.home {
    /* background: url(../Imagenes/fondo2-1.jpg) no-repeat center center fixed;
  background-size: cover; */
    background-color: rgb(37, 37, 37);
    padding: 40px;
}

.div_home {
    box-shadow: 0px 0px 15px 1px black;
    border-radius: 10px;
    padding: 0px;
    background-color: rgba(51, 51, 51, 0.781);
    height: auto; /* Used in this example to enable scrolling */
}

.div_img {
    /* width: 100%; */
    height: 300px;
    background-image: url(img/primera.jpg);
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* position: relative; */
}

.div_img_h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 70px;
    text-align: center;
    padding-top: 100px;
}

.div_contenido {
    display: flex;
    padding: 20px;
    /* background-color: rgba(124, 124, 124, 0.623); */
    background: rgb(85, 85, 85);
    background: linear-gradient(
        90deg,
        rgba(85, 85, 85, 1) 0%,
        rgba(9, 10, 10, 0) 100%
    );
}

.div_text {
    flex: 70%;
    color: white;
    /* text-shadow: 2px 2px 4px #000000; */
    padding: 20px;
}
.div_text2 {
    flex: 30%;
    min-height: 200px;
    background-image: url(img/segunda.jpg);
    background-size: cover;
}

/* Article y section */
.div_contenido2 {
    margin: 0px;
}
.div_contenido2_cosas {
    color: rgb(167, 167, 167);
    background-color: rgb(46, 46, 46);
    /* text-shadow: 2px 2px 4px #000000; */
    padding: 20px;
}