.container {
    padding: -1 2rem;
    background-color: blueviolet;
}

/* 
* ___
* NAV
* 
*/

.navbar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* El desbordamiento se recorta y el resto del contenido será invisible */
    background-color: #333;
    /* position: fixed; */
    position: relative;
    top: 0;
    width: 100%;
}

.navbarlink {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarlink:hover {
    background: #ddd;
    color: black;
}

/* 
* ______
* FOOTER
* 
*/

.footer {
    background-color: #222;
    color: rgb(116, 116, 116);
    text-align: center;
    padding: 10px;
}