.contenedor {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(31, 33, 33);
}

.tarjetas {
    width: 200px;
    border-radius: 5px;
    box-shadow: rgba(66, 66, 66, 0.5)5px 3px 5px 0px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(209, 209, 209);
}
.editar {
    border-radius: 5px;
    
    padding: 0.5rem;
    border: none;
    background-color: red;
}

.editar:hover {
    background-color: rgb(65, 6, 6);
    cursor: pointer;
    color: white;
}

.agregar {
    border-radius: 5px;
    
    padding: 0.5rem;
    border: none;
    background-color: rgb(91, 210, 87);
}

.agregar:hover {
    background-color: rgb(14, 33, 10);
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 1020px) {
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
    }

}
@media only screen and (max-width: 770px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    }

}
@media only screen and (max-width: 522px) {
  .contenedor {
    grid-template-columns: 1fr;
    }

}